<template name="contacto">
	<section id="contacto">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ dict 'contactoTitle' 'Contact Me' }}</h2>
                    <p>{{ dict 'contactoSubtitle' 'Here are some in depth case studies of larger projects that I have worked on in the past.' }}</p>
                </div>
            </div>
            <div class="row content-row contacto-form">
                <div class="col-lg-8 col-lg-offset-2 form">
                    {{#autoForm schema="contactFormSchema" id="contactoForm" type="method" meteormethod="contactSend"}}
                        <fieldset>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Nombre</label>
                                    {{> afFieldInput name="name" placeholder="Nombre"}}
                                    <p class="help-block text-danger">
                                        {{ afFieldMessage name="name" }}
                                    </p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Email</label>
                                    {{> afFieldInput name="email" placeholder="Email"}}
                                    <p class="help-block text-danger">
                                        {{ afFieldMessage name="email" }}
                                    </p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Mensaje</label>
                                    {{> afFieldInput name="message" rows=6 placeholder="Mensaje"}}
                                    <p class="help-block text-danger">
                                        {{ afFieldMessage name="message" }}
                                    </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-outline-dark">Enviar</button>
                                </div>
                            </div>
                        </fieldset>
                    {{/autoForm}}
                </div>
                <div class="success text-center">
                    <p>{{ dict 'contactoMessage' 'Gracias por contactarnos!' }}</p>
                </div>
            </div>
        </div>
    </section>
</template>
