<template name="footer">
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<img class="logo" src="{{ dict 'footer.logo.url' }}">
						</div>
						<div class="col-sm-6 site-map">
							<div>
								<a href="#features">Features</a>
								<a href="#tickets">Tickets</a>
								<a href="#barra">Barra Libre</a>
							</div>
							<div>
								<a href="#djs">DJs</a>
								<a href="#historia">Historia</a>
								<a href="#contacto">Contacto</a>
							</div>
						</div>
					</div>
					<br><br>
					<div class="row">
						<div class="col-sm-8">
							<div class="text clearfix">
								<img src="{{ dict 'footer.image1.url' }}">
								<img src="{{ dict 'footer.image2.url' }}">
								<p>
									{{ dict 'footerText' }}
								</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="social clearfix">
								<div><a href="mailto:{{ dict 'social.email' }}"><i class="fa fa-envelope"></i></a></div>
								<div><a href="{{ dict 'social.facebook' }}" target="_BLANK"><i class="fa fa-facebook"></i></a></div>
								<div><a href="{{ dict 'social.instagram' }}" target="_BLANK"><i class="fa fa-instagram"></i></a></div>
								<div><a href="{{ dict 'social.twitter' }}" target="_BLANK"><i class="fa fa-twitter"></i></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br><br>
		</div>
	</div>
</template>
