<template name="footer">
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<img class="logo" src="{{ dict 'siteLogoFooter.link' 'http://meteor-cms-default.s3.amazonaws.com/imgs/6FYHuGSiZromh4tYX.png' }}">
						</div>
						<div class="col-sm-6 site-map">
							<div>
								<a href="#home">Home</a>
								<a href="#features">Features</a>
								<a href="#tickets">Tickets</a>
							</div>
							<div>
								<a href="#barra">Barra Libre</a>
								<a href="#contacto">Contacto</a>
							</div>
						</div>
					</div>
					<br><br>
					<div class="row">
						<div class="col-sm-8">
							<div class="text clearfix">
								<img src="{{ dict 'footerImage1.link' 'http://meteor-cms-default.s3.amazonaws.com/imgs/Bn5b4eo6FrnNyHBPC.png' }}">
								<img src="{{ dict 'footerImage2.link' 'http://meteor-cms-default.s3.amazonaws.com/imgs/43BpGbGAH9aPdLzQS.png' }}">
								<p>
									{{ dict 'footerText' }}
								</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="social clearfix">
								<div><a href="mailto:{{ dict 'email' }}"><i class="fa fa-envelope"></i></a></div>
								<div><a href="{{ dict 'facebook' }}" target="_BLANK"><i class="fa fa-facebook"></i></a></div>
								<div><a href="{{ dict 'instagram' }}" target="_BLANK"><i class="fa fa-instagram"></i></a></div>
								<div><a href="{{ dict 'twitter' }}" target="_BLANK"><i class="fa fa-twitter"></i></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br><br>
		</div>
	</div>
</template>