<template name="barra">
	<section id="barra">
        <div class="container text-center wow fadeIn">
			<h2>{{ dict 'barraTitle' 'Case Studies' }}</h2>
			<p>{{ dict 'barraSubtitle' 'Here are some in depth case studies of larger projects that I have worked on in the past.' }}</p>
			<img class="section-image" src="{{ dict 'barraImage.link' 'http://lorempixel.com/1000/500/' }}">
		</div>
    </section>
    <a href="{{ dict 'barraLink' }}" class="btn btn-block btn-full-width">{{ dict 'barraLinkText' }}</a>
</template>