<template name="tickets">
	<section id="tickets">
        <div class="container text-center wow fadeIn">
			<h2>{{ dict 'ticketsTitle' 'Case Studies' }}</h2>
			<p>{{ dict 'ticketsSubtitle' 'Here are some in depth case studies of larger projects that I have worked on in the past.' }}</p>
			<img class="section-image" src="{{ dict 'ticketsImage.link' 'http://lorempixel.com/1000/500/' }}">
            <br><br><br>
            <a href="{{ dict 'ticketsUrl' }}" target="_BLANK" class="btn btn-outline-light">Comprar Tickets</a>
		</div>
    </section>
    <aside class="tickets-quote cta-quote" style="background-image: url('{{ dict 'ticketsQuoteImage.link' 'assets/img/bg-aside.jpg' }}');">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <span class="quote">
{{# markdown }}
{{ dict 'ticketsQuote' }}
{{/ markdown }}
                    </span>
			        <hr class="colored">
			        <a href="{{ dict 'ticketsQuoteButtonLink' }}" class="btn btn-outline-light">{{ dict 'ticketsQuoteButtonText' 'Boton'}}</a>
                </div>
            </div>
        </div>
    </aside>
</template>