<template name="tickets">
	<section id="tickets">
		<div class="container text-center wow fadeIn">
			<h2>{{ dict 'tickets.title' }}</h2>
			<p>{{ dict 'tickets.subtitle' }}</p>
			<img class="section-image" src="{{ dict 'tickets.image.url' }}">
			<br>
			<br>
			<br>
			<a href="{{ dict 'tickets.url' }}" target="_BLANK" class="btn btn-outline-light">Comprar Tickets</a>
		</div>
	</section>
	<aside class="tickets-quote cta-quote" style="background-image: url('{{ dict 'tickets.quoteImage.url' }}');">
		<div class="container wow fadeIn">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<span class="quote">
						{{# markdown }} {{ dict 'tickets.quote' }} {{/ markdown }}
					</span>
					<hr class="colored">
					<a href="{{ dict 'tickets.quoteButtonLink' }}" class="btn btn-outline-light">{{ dict 'tickets.quoteButtonText' }}</a>
				</div>
			</div>
		</div>
	</aside>
</template>
